body{
  color: aliceblue;
  background-color: black;
  padding: 17%;
  margin-left: 15%;
}
.tweet{
  width: 450px;
  border: 1px solid aliceblue;
  min-height: 68px;
  padding: 10px;
  display: flex;
  font-family: "Helvetica",Arial, sans-serif;
  font-size: 20px;
  line-height: 18px;
}
.avatar{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 10px;
}
.message{
  font-size: 17px;
  font-weight: lighter;
  padding: 5px;
}
.name{
  font-weight: bolder;
  margin-bottom: 0.5em;
  margin-right: 0.3em;
}
.handle{
  color: #8899a6;
  font-size: 15px;
}
.time{
  font-size: 15px;
  color: #8899a6;
}
.buttons{
  color: #8899a6;
}
i{
  margin-right: 70px;
}